body {
  margin: 0;
  padding: 0;
  font-family: verdana;
  background: #CCC
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.book {
  width: 400px;
  height: 600px;
  padding: 30px;
  border-left: 30px solid #FF2929;
  transform: rotate(-20deg) skewX(10deg) scale(.8);
  box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: transform 0.75s;
  background-image: url('cover.jpg');
  background-size: cover;
}

.plate {
  font-family: 'Arbutus Slab', serif;
  background: #e47162aa;
  padding: 1rem 3rem;
  color:#fff;
  text-shadow: 1px 1px #616161;
}

.plate .cursive {
  font-family: 'Great Vibes', cursive;
  padding: 3px;
}

.plate .small {
  font-size: 28px;
  padding: 4px;
}

.book:hover {
  transform: rotate(0deg) skewX(0deg) scale(1);
}

.book h1 {
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 36px;
  color: #000000
}


.book h2 {
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 28px;
  color: #000000
}


.book p {
  margin: 0;
  padding: 0;
  text-align: justify
}

.book:before {
  content: "";
  width: 30px;
  height: 100%;
  background: #8a0e0e;
  position: absolute;
  top: 0;
  left: 0;
  transform: skewY(-45deg) translate(-57px, -43px)
}

.book:after {
  content: "";
  width: 106%;
  height: 30px;
  background: #CCC;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: skewX(-45deg) translate(-11px, 30px)
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 2;
  margin-top: 80px;
}

button {
  appearance: button;
  background-color: #d50000;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 10px;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

button:after {
  background-clip: padding-box;
  background-color: #FF2929;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

button:main,
button:focus {
  user-select: auto;
}

button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

button:disabled {
  cursor: auto;
}
